/*!
Version: 1.4.4
*/
body.gutenberg-editor-page #wpwrap .editor-post-title__block,
body.gutenberg-editor-page #wpwrap .editor-default-block-appender,
body.gutenberg-editor-page #wpwrap .editor-block-list__block {
  max-width: 848px; }

body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
  max-width: 1140px; }

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
  max-width: none; }
