.container {
    width: 300px;
    height: 300px;
    color: #fff;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    




    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: wrap; */
    /* justify-content: flex-start;  */
    /* justify-content: flex-end;  */
    /* justify-content: center;  */
    /* justify-content: space-between;  */
    /* justify-content: space-around;  */
    /* align-items: stretch; */
    /* align-content: flex-start; */
    /* align-content: space-between; */
    /*
flex-grow
flex-shrink
flex-basis
↓
flex: 0 1 auto;

flex: 30px;
flex: 2;
flex: 2 3;
割合で表示場所を変更できる
*/
    
  }
  .box {
    width: 80px;
    height: 80px;
  }
  .box-1 { background: tomato;}
  .box-2 { background: slategray; }
  .box-3 { background: pink; }
  .box-4 { background: skyblue; }
  .box-5 { background: limegreen; }