
<div class="bl_contentsBlock bl_contentsBlock__bgType_plaid">
    <div class="bl_contentsBlock_inner">


        <form method="post" action="" class="bl_contactForm js_productContact_validate">

            <p class="bl_note">
                ※入力内容はすべて必須です
            </p>

            <table class="bl_formTab">
                <tbody>
                    <tr >
                        <th>お問い合わせ項目</th>
                        <td>
                            <select name="contact_list" class="js_productContact_list styled"
                                data-validation-engine="validate[required]" id="contact">
                                <option value="">選択してください</option>
                                <option value="導入検討のお客様">導入検討のお客様</option>
                                <option value="導入後のお客様">導入後のお客様</option>
                                <option value="取材・インタビューについて">取材・インタビューについて</option>
                                <option value="その他">その他</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="js_productContact_services" data-list="導入検討のお客様,導入後のお客様">
                        <th>対象サービス</th>
                        <td>
                            <ul>
                                <li>
                                    <input type="checkbox" name="services[]" value="連絡とれるくん" id="input-services-0">
                                    <label for="input-services-0">連絡とれるくん</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="お客様わかるくん" id="input-services-1">
                                    <label for="input-services-1">お客様わかるくん</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="居場所わかるくん" id="input-services-2">
                                    <label for="input-services-2">居場所わかるくん</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="働き方かえるくん" id="input-services-3">
                                    <label for="input-services-3">働き方かえるくん</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="PhoneAppli for Salesforce"
                                        id="input-services-4">
                                    <label for="input-services-4">PhoneAppli for Salesforce</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="Vision Go" id="input-services-5">
                                    <label for="input-services-5">Vision Go</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="Thanks Go" id="input-services-6">
                                    <label for="input-services-6">Thanks Go</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="CiRQLE" id="input-services-7">
                                    <label for="input-services-7">CiRQLE</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="会議革新プログラム" id="input-services-8">
                                    <label for="input-services-8">会議革新プログラム</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="コラボレーティブIoT" id="input-services-9">
                                    <label for="input-services-9">コラボレーティブIoT</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="Cisco Webex" id="input-services-10">
                                    <label for="input-services-10">Cisco Webex</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="services[]" value="その他製品" id="input-services-11">
                                    <label for="input-services-11">その他製品</label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="sf_list" style="display:none;">
                        <th>セールスフォース<br>導入状況</th>
                        <td>
                            <select name="contact_list" class=" styled"
                                data-validation-engine="validate[required]">
                                <option value="">選択してください</option>
                                <option value="">検討している</option>
                                <option value="">検討していない</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>お問い合わせ内容</th>
                        <td>
                            <textarea name="contact" rows="2" cols="2" id="input-contact"
                                data-validation-engine="validate[required]"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>お名前</th>
                        <td>
                            <ul class="bl_inputList">
                                <li class="bl_inputList_block">姓<br>
                                    <input type="text" name="last_name" value="" id="input-last_name" placeholder="山田"
                                        data-validation-engine="validate[required]">
                                </li>
                                <li class="bl_inputList_block">名<br>
                                    <input type="text" name="first_name" value="" id="input-first_name" placeholder="太郎"
                                        data-validation-engine="validate[required]">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>会社名</th>
                        <td>
                            <input type="text" name="company" value="" id="input-company" placeholder="株式会社PhoneAppli"
                                data-validation-engine="validate[required]">
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>
                            <input type="text" name="email" value="" id="input-email"
                                placeholder="taro.yamada@phoneappli.net"
                                data-validation-engine="validate[required,custom[email]]">
                            <ul class="bl_noteList">
                                <li class="bl_noteList_block">※E-mailアドレスの入力間違いが多くなっております。ご注意ください。</li>
                                <li class="bl_noteList_block">※フリーメールからのお問合わせは受け付けておりません。</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td class="bl_telList">
                            <input type="tel" name="tel01" value="" id="input-tel01" placeholder="03" class="bl_tel"
                                data-validation-engine="validate[required,custom[number]]">ー<input type="tel"
                                name="tel02" value="" id="input-tel02" placeholder="1234"
                                data-validation-engine="validate[required,custom[number]]">ー<input type="tel"
                                name="tel03" value="" id="input-tel03" placeholder="5678"
                                data-validation-engine="validate[required,custom[number]]">
                        </td>
                    </tr>
                </tbody>
            </table>


        </form>
    </div><!-- .bl_contentsBlock_inner -->
</div><!-- .bl_contentsBlock -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
</body>


</html> -->