
table{
    width:800px;
    margin: 0 auto ;
    border-collapse: collapse;
  }
  table th{
    width: 220px;
    padding: 10px;
    padding-top: 0px;
    text-align: right;
    font-size: 120%;
  }
  table tr{
    width: 1200px;
    border-bottom: solid 1px black;
  }
  table td{
    padding: 10px;
  }
  
  h1,p{
    text-align: center;
  }
  select{
      height: 35px;
      font-size: 16px;
      border:solid 1px #ccc;
  }  
  
  .name,.select{
    border:0;
    padding: 5px;
    
    font-family: Arial,sans-serif;
    border:solid 1px #ccc;
    margin: 0 0 20px;
    width: 150px;
  }
  .p-postal-code{
    border:0;
    padding: 5px;
    font-size: 0,5em;
    font-family: Arial,sans-serif;
    border:solid 1px #ccc;
    margin: 0 0 20px;
    width: 150px;
  }
  .corp,.mail,.address1,.address2,.tel{
    border:0;
    padding: 5px;
    font-size: 0,5em;
    font-family: Arial,sans-serif;
    border:solid 1px #ccc;
    margin: 0 0 20px;
    width: 300px;
  }
  .comment{
      width: 400px;
      height: 10em;
      font-size: 100%;
  }
  .btn{
      width:150px;
      height: 50px;
      border-radius: 10px;
      background: rgb(216, 214, 214);
      font-size: 15px;
  }
  .input{
      height: 30px;
      font-size: 100%;
  }