body{
    /* color:red;
    color: #00f; */
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; */
    margin: 0;
    
}
header{
    
    text-align: right;
    padding: 10px;
    background-image: url(../img/header.png);
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 60px;}

    
    header ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    
}

header li{
    display: inline-block;
    /* padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px; */
    padding: 4px 8px;
    font-size: 12px;
}
header li > a{
    text-decoration: none;
    color:inherit;
}

header li > a:hover{
    color: royalblue;
}

.current{
    border-bottom: 4px solid royalblue;
}

section{
    text-align: center;
}
section h1{
    font-weight: normal;
    margin-bottom: 8px;
}
section p{
    margin: 0;
    font-size: 14px;
}

.icon{
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 5px gray;

}
.works{
    width:400px;
    margin: 60px auto;
    border-bottom: 1px solid gray;
}
.workd h1,
.works p{
    text-emphasis: left;

}
.works > section{
    margin-bottom: 40px;
}

footer{
    width: 400px;
    margin: 0 auto 60px;


}


footer ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    float: left;
    
}

footer li{
    display: inline-block;
    
}


footer li > a:hover{
    opacity: 0.6;
}
footer p{
    color:lightgray;
    font-size: 14px;
    text-align: right;
}