body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background: #eee;
}
.container{
    margin:20px auto;
    width:365px;
    background: #fff;
    padding: 15px;
    text-align: center;
}

#timer{
    background: #ddd;
    height:120px;
    line-height: 120px;
    font-size: 40px;
    margin-bottom: 15px;

}
.controls>div{
    cursor: pointer;
    user-select: none;
    width: 80px;
    background: #ddd;
    height: 45px;
    line-height: 45px;
    float: left;

}

.controls{
    overflow: hidden;
}

.controls>div+div{
    margin-left: 15px;

}

.controls>div:hover{
opacity: 0.7;

}

