body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

#container {
    width: 280px;
    margin: 30px auto;
}

form {
    text-align: center;
}

form#logout{
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;

}


input[type=text],
input[type=password] {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    background: #00aaff;
    box-shadow: 0 3px 0 #0088cc;
    cursor: pointer;
    margin: 0 auto 15px;
}

.btn:hover {
    opacity: 0.8;
}

.fs12 {
    font-size: 12px;
    font-weight: normal;
}

.err {
    color: #ff3d00;
    font-weight: bold;
    font-size: 13px;
}

h1{
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul>li{
    padding:3px 0;}