body{
    font-family: Arial, Helvetica, sans-serif;
    background: #102f44;
    font-size: 16px;

}

.box + .box{
    margin-left: 40px;

}

.container{
    width:335px;
    margin:30px auto;
}

.boxes{
    font-size: 0;
    margin-bottom: 40px;
}
.box{
    cursor: pointer;
}

/* アニメーション処理・宝箱揺らす */
.shake:hover{
    animation-name: shake;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{transform: rotate(8deg) translate(1px,0);}
    50%{transform: rotate(-8deg) translate(-1px,0);}
    100%{transform: rotate(8deg) translate(1px,0);}
}
.box.disabled{
    opacity: 0.5;
    cursor: auto;
}
#btn{
    text-decoration: none;
    display: block;
    width:335px;
    height: 40px;
    border: 2px solid #fff;
    color: #fff;
    font-weight:bold; 
    line-height: 40px;
    text-align: center;
    border-radius: 5px;

}

#btn.inactive{
    opacity: 0.2;
    cursor: default;

}
