<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyVue</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <!-- 文字を返す -->
    <div id="app"><p>Hello {{ name }}!</p>
    <p><input type="text" v-model="name"></p> 
    </div>

    <!-- コンポーネント -->
    <div id="com">
    <p>Total Likes:{{total}}</p>
    <like-component message="Like" @increment='incrementTotal'></like-component>
    <like-component message="Awesome" @increment='incrementTotal'></like-component>
    <like-component message="Great" @increment='incrementTotal'></like-component>
    <like-component message="yeah" @increment='incrementTotal'></like-component>
    </div>
    
     <!-- ToDoアプリ -->
    <div id="todo" class="container">
        <h1>
           
            My Todos
            <span class="info">{{remaining.length}}/{{todos.length}}</span>
            <button @click="purge">Purge</button>
        </h1>
        <ul>
                <li v-for="(todo, index) in todos">
                  <input type="checkbox" v-model="todo.isDone">
                  <span :class="{done: todo.isDone}">{{ todo.title }}</span>
                  <span @click="deleteItem(index)" class="command">[x]</span>
                </li>
        
           
                <li v-show="!todos.length">Nothing to do, yay!</li>
            </ul>  
   
        <form @submit.prevent="addItem">
            <input type="text" v-model="newItem">
            <input type="submit" value="Add">
        </form>
        </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>