body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 300px;
    margin: auto;
}

#todo h1{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
}

#todo li{
    line-height: 1.5;

}

#todo input[type="text"]{
    padding: 2px;
}
.command{
    padding:12px;
    cursor: pointer;
    color:  #08c;
}
#todo ul{
    padding: 0;
    list-style: none;
}
#todo li > span.done{
    text-decoration: line-through;
    color:#bbb;
}
.info{
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
}

#todo h1 > button{
    float: right;
}
