@charset "utf-8";

body{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#open,#close{
    cursor: pointer;
    width:200px;
    border:1px solid #ccc;

    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin: 15px auto 0;}

    #mask{
        background: rgba(0, 0, 0,0.4);
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        z-index: 1;

    }

    #modal{
        background: #fff;
        width: 300px;
        padding: 20px;
        border-radius: 4px;
        position: absolute;
        top:40px;
        left: 0;
        right:0;
        margin:0 auto;
        transition: .8s;
        z-index: 2;
    
    }
    #modal p{
        line-height: 1.5;
        margin:0 0 20px;

        }
    #mask.hidden{
            display: none;
        }
#modal.hidden{
    transform: translate(0,-500px);
}
